/* Style for flash message function*/

.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}

/* Style for navigation bar*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

nav li {
    display: inline; background-color: green;
}

nav li a {
    color: greenyellow;
}

input {
    border-radius: 5;
}

body {
    background-color:gray;
    color: rgb(4, 117, 42)
}